@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.container {
  background-color: crimson;
  color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: auto;
  width: 200px;
  height: 200px;
  border-radius: 2px;
  /* text-align: center; */
}

.show {
  margin: 20px;
}
